<mat-table [dataSource]="items">

  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
    <mat-cell *matCellDef="let cartItem">{{ cartItem.product.id }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let cartItem">{{ cartItem.product.name }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="price">
    <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
    <mat-cell *matCellDef="let cartItem">{{ cartItem.product.price }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="quantity">
    <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
    <mat-cell *matCellDef="let cartItem">{{ cartItem.quantity }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="subTotal">
    <mat-header-cell *matHeaderCellDef>Sub-Total</mat-header-cell>
    <mat-cell *matCellDef="let cartItem">{{ cartItem.product.price * cartItem.quantity }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="remove">
    <mat-header-cell *matHeaderCellDef>Remove</mat-header-cell>
    <mat-cell *matCellDef="let cartItem">
      <button mat-stroked-button color="warn" (click)="remove(cartItem.product.id)">
        Remove
      </button>
    </mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
  <mat-row *matRowDef="let row; columns: columnsToDisplay;"></mat-row>

</mat-table>

<div align="center" >
  <h2>Total: <span>{{ total }}</span></h2>
</div>
